<%- include('partials/header') %>

    <div class="container my-5">
        <!-- Jumbotron Header -->
        <div class="jumbotron text-center bg-primary text-white">
            <i class="fas fa-key fa-6x mb-3"></i>
            <h1 class="display-4">Projects</h1>
            <p class="lead">Manage all your projects in one place.</p>
        </div>

        <!-- Register and Login Buttons -->
        <div class="text-center">
            <a class="btn btn-light btn-lg mx-2" href="/signup" role="button">Register</a>
            <a class="btn btn-dark btn-lg mx-2" href="/login" role="button">Login</a>
        </div>
    </div>

    <%- include('partials/footer') %>